name: ovhai-vllm
description: provider of infrastructure is ovhai, api provider is vllm with api like openai
apiType: OpenAI
defaultApiKey: "****"
baseUrl: "****"
baseModel: "/mnt/model"
temperature: 0.0
