<div class="message" [ngClass]="messageClasses">
  <!-- Layout normal pour user et assistant -->
  <ng-container *ngIf="!isSimplified">
    <!-- En-tête avec speaker et menu contextuel -->
    <div class="message-header">
      <div class="speaker" *ngIf="shouldShowSpeaker">
        {{ message.speaker }}
      </div>
      
      <app-message-context-menu 
        *ngIf="shouldShowActions"
        [actions]="topActions" 
        position="top">
      </app-message-context-menu>
    </div>
    
    <!-- Contenu -->
    <div class="content markdown-content" [innerHTML]="renderedContent"></div>
    
    <!-- Menu contextuel en bas pour les longs messages -->
    <div class="message-footer" *ngIf="isLongMessage && shouldShowActions">
      <app-message-context-menu 
        [actions]="bottomActions" 
        position="bottom">
      </app-message-context-menu>
    </div>
  </ng-container>
  
  <!-- Layout simplifié pour les autres types -->
  <ng-container *ngIf="isSimplified">
    <div class="simple-content markdown-content">
      <span [innerHTML]="renderedContent"></span>
      <a *ngIf="eventLink" [href]="eventLink" target="_blank" class="event-link">view</a>
    </div>
  </ng-container>
</div>
