button {
    padding: 0.5em;
    margin: 0.2em;
    background-color: rgb(96, 170, 255);
    color: white;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    flex-shrink: 0;
    box-sizing: border-box;
}

button:hover {
    background-color: #00448c;
}
