.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.hidden {
    display: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}
